.review-content img{
    width: 150px;
    margin: auto;
    margin-top: 35px
}

.review-conteiner  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

  /* Make Responsive */
  @media only screen and (max-width: 688px) {
    .review-conteiner  {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media only screen and (min-width: 689px) and (max-width: 991px) {
    .review-conteiner  {
      grid-template-columns: repeat(2, 1fr);
    }
  }