.review-form {
    display: flex;
    flex-direction: column;
  }
  
  .review-form form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .review-form input, textarea {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px 20px;
  }

  /* Make Responsive */
@media only screen and (max-width: 688px) {
    .review-form {
        height: 500px;
        
    }
    .review-form input, textarea {
        width: 100%;
        margin-bottom: 10px;
    }
    
  }
  